include mixins

section.art__of__cakes
    .container
        .art__of__cakes__left
            +title("Art of cakes", "we create delicious memories")
            p.
                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. 
                Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, 
                sem quam semper libero, sit amet adipiscing sem neque sed.
            h4 Chef Cook
            .chef
                p.chef__text.chef__text__left Benito
                a.chef__href(href="#")
                    img.chef__avatar(src="images/chef.png")
                p.chef__text.chef__text__right Gaspare
            .quote
                p Unique creations for unique <br>occasions.
                    span.left “
                    span.right ”
        .art__of__cakes__right
            .vector 
                p.vector__text Tastes so <br>good!
            .images
                .images__content 
                    .img.images__1
                    .images__border
                .images__content 
                    .img.images__2
                    .images__border
                .images__content   
                    .img.images__3
                    .images__border
                .images__content   
                    .img.images__4
                    .images__border