include mixins

section.breakfast
    .container
        .breakfast__left
            +title("Breakfast", "7am Breakfast? we’re open!")
            .paragraph
                h5 Full breakfast
                p Duis ut tortor, et risus, vulputate pretium 
                span $12.49
            .paragraph
                h5 Toast &amp; Jam
                p Suspendisse, tempus, nterdum
                span $4.90
            .paragraph
                h5 Muffins 
                p Fusce eget dui sodales est 
                span $3.95
        .breakfast__right
            .menu
                .menu__border
                    .menu__head
                        span Est.
                        span 1893
                    h2 Your morning Escape with Flair
                    p Donec vitae sapien ut libero venenatis faucibus.  Nullam quis ante. Etlan sit amet orci eget eros faucibus tincidunt. Duis leo.
                    button.menu__button Read
