section.hero
    .slides#slides
        ul.slides-container
            li
                img(src="images/header__bg__1.jpg" alt="")
                .gradient
                .container
                    .slides__content
                        h2 Pastry with love
                        p We’re bringing you fresh ingredients every <br>day in ways you can’t resist
                        button.button.hero__button Our menu 
            li
                img(src="images/header__bg__02.jpg" alt="")
                .container
                    Slide 
            li
                img(src="images/header__bg__03.jpg" alt="")
                .container
                    Slide 
        nav.slides-navigation
            a.next(href="#") 
            a.prev(href="#") 