fieldset.rating
    input(type="radio" id="star5" name="rating" value="5")
    label(for="star5" class = "full" title="Awesome - 5 stars")

    input(type="radio" id="star4half" name="rating" value="4 and a half")
    label(for="star4half" class = "half" title="Pretty good - 4.5 stars")

    input(type="radio" id="star4" name="rating" value="4")
    label(for="star4" class = "full" title="Pretty good - 4 stars")

    input(type="radio" id="star3half" name="rating" value="3 and a half")
    label(for="star3half" class = "half" title="Meh - 3.5 stars")

    input(type="radio" id="star3" name="rating" value="3")
    label(for="star3" class = "full" title="Meh - 3 stars")

    input(type="radio" id="star2half" name="rating" value="2 and a half")
    label(for="star2half" class = "half" title="Kinda bad - 2.5 stars")

    input(type="radio" id="star2" name="rating" value="2")
    label(for="star2" class = "full" title="Kinda bad - 2 stars")

    input(type="radio" id="star1half" name="rating" value="1 and a half")
    label(for="star1half" class = "half" title="Meh - 1.5 stars")

    input(type="radio" id="star1" name="rating" value="1")
    label(for="star1" class = "full" title="Sucks big time - 1 star")

    input(type="radio" id="starhalf" name="rating" value="half")
    label(for="starhalf" class = "half" title="Sucks big time - 0.5 star")