@font-face {
    font-family: "Alegreya-Bold";
    src: url("../fonts/Alegreya/Alegreya-Bold/Alegreya-Bold.eot");
    src: url("../fonts/Alegreya/Alegreya-Bold/Alegreya-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Alegreya/Alegreya-Bold/Alegreya-Bold.woff") format("woff"),
    url("../fonts/Alegreya/Alegreya-Bold/Alegreya-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya-Regular";
    src: url("../fonts/Alegreya/Alegreya-Regular/Alegreya-Regular.eot");
    src: url("../fonts/Alegreya/Alegreya-Bold/Alegreya-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Alegreya/Alegreya-Regular/Alegreya-Regular.woff") format("woff"),
    url("../fonts/Alegreya/Alegreya-Regular/Alegreya-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot");
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Scriptina";
    src: url("../fonts/Scriptina/SCRIPTIN.eot");
    src: url("../fonts/Scriptina/SCRIPTIN.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Scriptina/Scriptina.woff") format("woff"),
    url("../fonts/Scriptina/Scriptina.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}